*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.forward{
    width: 25vw;
    height: 50vh;
    background-color: aqua;

}

.backward{
    width: 100vw;
    height: 100vh;
    background-color: coral;
}